* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --unnamed-color-eae0d1: #EAE0D1;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-323232: #323232;
    --unnamed-color-00000000: #00000000;
    --unnamed-color-fbf4e8: #FBF4E8;
    --unnamed-color-eae1d2: #EAE1D2;
    --unnamed-color-f1952e: #F1952E;
    --unnamed-color-dcb550: #DCB550;
    --unnamed-color-bf4b26: #BF4B26;
    --unnamed-color-99131a: #99131A;
}

/* Header */
.header-container {
    background: transparent linear-gradient(87deg, #99131A 0%, #BF4B26 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    padding: 20px 52px;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links li a span {
    background: #DCB550;
    box-shadow: 5px 5px 10px #0000000D;
    border-radius: 23px;
    padding: 8px 20px;
    color: #99131A;
    font-weight: bold;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

body {
    padding-top: 130px;
}


/* Main */

.main-container {
    top: 0px;
    left: 0px;
    width: 100%;
    background: var(--unnamed-color-eae0d1) 0% 0% no-repeat padding-box;
    background: #EAE0D1 0% 0% no-repeat padding-box;
    opacity: 1;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 80px;
    background: var(--unnamed-color-eae0d1);
    min-height: 600px;
}

.org-banner1, .org-banner2 {
    flex: 1;
    max-width: 50%;
}

.banner-content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
}

.video-button a {
    display: inline-flex;
    align-items: center;
    color: var(--unnamed-color-99131a);
    padding: 12px 20px;
    border-radius: 40px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid var(--unnamed-color-99131a);
    font-size: 18px;
    margin-bottom: 20px;
}

.video-button img {
    margin-right: 8px;
    width: 50px;
}

.banner-tlt p {
    font-size: 40px;
    font-weight: bold;
    color: var(--unnamed-color-99131a);
    text-transform: uppercase;
}


p {
    font-size: 18px;
    line-height: 1.6;
    color: var(--unnamed-color-323232);
}

.donate-button {
    display: inline-block;
    background: linear-gradient(87deg, #99131A 0%, #BF4B26 100%);
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.banner-image img {
    width: 650px;
}

.org-banner1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.banner-tlt {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-tlt img {
    width: 550px;
}

.banner-image img {
    width: 650px;
}

.text-fac {
    text-align: center;
}

.main-text {
    font-size: 60px;
    background: linear-gradient(77deg, #99131a 0%, #dcb550 100%) 0% 0% no-repeat padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
    font-weight: bold;
}

.sub-text {
    font-size: 24px;
    color: #000000;
    font-weight: bold;
}

.container-equip {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
}

.container-equip p {
    color: var(--unnamed-color-99131a);
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0px;
    color: var(--unnamed-color-99131a);
    opacity: 1;
}

.container-equip img {
    width: 300px;
    object-fit: contain;
}

.full-seasons {
    margin-top: 100px;
    text-align: center;
    padding: 50px 20px;
    margin-bottom: 80px;
}

.full-seasons-title h1 {
    color: var(--unnamed-color-99131a);
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 15px;
}

.full-seasons-title p {
    color: var(--unnamed-color-323232);
    font-size: 20px;
    line-height: 1.6;
}

.items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 40px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 180px;
}

.item img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.item p {
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
    color: var(--unnamed-color-99131a);
    width: 100%;
    text-align: center;
}

.separator {
    width: 100%;
    max-width: 1000px;
    height: 4px;
    background-color: var(--unnamed-color-99131a);
    margin: 40px auto;
    border-radius: 2px;
    margin-top: 100px;
}


.donation-section {
    background-color: var(--bg-color);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
    margin-bottom: 100px;
}

.highlight-title {
    font-size: 60px;
    font-weight: bold;
    color: var(--unnamed-color-99131a);
}

.info-text {
    font-size: 1.2rem;
    color: var(--unnamed-color-323232);
}

.value-button {
    margin-top: 25px;
    padding: 15px 30px;
    font-size: 1.2rem;
    color: var(--unnamed-color-99131a);
    border: 3px solid var(--unnamed-color-99131a);
    background-color: transparent;
    border-radius: 9999px;
    cursor: pointer;
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
}

.card-doacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.circulo-doacao {
    width: 150px;
    height: 150px;
    background: transparent linear-gradient(294deg, var(--unnamed-color-f1952e) 0%, #CF151E 100%) 0% 0% no-repeat padding-box;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.numero-doacao {
    font-size: 26px;
    font-weight: bold;
    color: white;
    position: absolute;
}

.icone-computador {
    width: 100px;
    height: 100px;
    opacity: 0.5;
    position: absolute;
    top: 20%;
}

.texto-doado {
    font-size: 25px;
    font-weight: bold;
    background: linear-gradient(294deg, #F1952E 0%, #CF151E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    /* Deixe o texto mais destacado */
    text-transform: uppercase;
    text-transform: uppercase;
    margin-bottom: 5px;

}

.texto-autor {
    font-size: 14px;
    color: var(--unnamed-color-323232);
    margin-top: 10px;
}

.negrito {
    font-weight: bold;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 80px;
}

.donationItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.roundButton {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--unnamed-color-ffffff);
    font-size: 50px;
    font-weight: bold;
    border: 2px solid var(--unnamed-color-bf4b26);
    cursor: pointer;
    transition: transform 0.2s;
    background: linear-gradient(to bottom, var(--unnamed-color-f1952e), var(--unnamed-color-dcb550));
}

.donationLabel {
    font-size: 25px;
    font-weight: bold;
    background: linear-gradient(294deg, #F1952E 0%, #CF151E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-transform: uppercase;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 1000px;
    margin: 100px auto 0;
    gap: 16px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-text {
    font-size: 25px;
    background: linear-gradient(294deg, #F1952E 0%, #CF151E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 8px;
}

.grid-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: 2px solid var(--unnamed-color-99131a);
    border-radius: 50%;

}

.grid-icon {
    width: 100px;
    height: 100px;
}

.content-wrapper {
    text-align: center;
    padding: 22px;
}

.main-title {
    font-size: 46px;
    font-weight: bold;
    color: var(--unnamed-color-99131a);
    margin-bottom: 15px;
}

.description-text {
    font-size: 20px;
    color: #4a4a4a;
    margin-bottom: 15px;
}

.description-text span {
    font-weight: bold;
}

.cta-button {
    display: inline-block;
    border: 2.5px solid var(--unnamed-color-99131a);
    border-radius: 9999px;
    padding: 13px 32px;
}

.cta-button span {
    color: var(--unnamed-color-99131a);
    font-size: 20px;
    font-weight: bold;
}

.grid-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.box-text {
    font-size: 25px;
    background: linear-gradient(294deg, #F1952E 0%, #CF151E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.box-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: 2px solid var(--unnamed-color-99131a);
    border-radius: 50%;
}

.box-icon {
    width: 100px;
    height: 100px;
}

.container-doacao {
    margin-top: 150px;
    text-align: center;
}

.titulo {
    font-size: 40px;
    font-weight: bold;
    color: var(--unnamed-color-99131a);
    margin-bottom: 32px;
}

.resumo-doacao {
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa-esquerda, .caixa-direita {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    font-size: 18px;
    background-color: white;
}

.caixa-esquerda {
    background: transparent linear-gradient(90deg, var(--unnamed-color-99131a) 0%, var(--unnamed-color-bf4b26) 100%) 0% 0% no-repeat padding-box;
    color: white;
    border-radius: 9999px 0 0 9999px;
}

.caixa-direita {
    border-radius: 0 9999px 9999px 0;
    border: 3px solid var(--unnamed-color-99131a);
    background-color: var(--unnamed-color-eae0d1);
}

.colored-orange{
    color: var(--unnamed-color-bf4b26);
}

.caixa-esquerda span, .caixa-direita span {
    font-size: 18px;
}

.caixa-esquerda .texto-negrito, .caixa-direita .texto-negrito {
    font-weight: bold;
    margin-left: 10px;
}



.caixa-direita .texto-negrito {
    font-size: 28px;
}

.circulo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 100px;
    height: 100px;
    border: 3px solid var(--unnamed-color-99131a);
    border-radius: 50%;
    background-color: var(--unnamed-color-eae1d2);
    margin: 0 12px;
}

.circulo span {
    font-size: 40px;
    font-weight: bold;
    color: var(--unnamed-color-99131a);
}

.texto-acima {
    font-size: 22px;
    color: var(--unnamed-color-99131a);
    margin-bottom: 6px;
    font-weight: bold;
}

.form-org {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px;
}

.form-container {
    width: 100%;
    max-width: 460px;
    /* Reduzi um pouco a largura */
    padding: 36px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.form-container h2 {
    text-align: center;
    color: var(--unnamed-color-99131a);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-container input {
    width: 500px;
    padding: 16px;
    font-size: 1.125rem;
    border: 2px solid var(--unnamed-color-99131a);
    border-radius: 9999px;
    margin-bottom: 18px;
    outline: none;
    transition: border-color 0.3s;
    background-color: var(--unnamed-color-eae1d2);
}



.form-container button {
    width: 150px;
    padding: 14px;
    font-size: 1.125rem;
    background: transparent linear-gradient(90deg, var(--unnamed-color-99131a) 0%, var(--unnamed-color-bf4b26) 100%) 0% 0% no-repeat padding-box;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    transition: background 0.3s;
}

.form-container button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(185, 28, 28, 0.5);
}

.separator1 {
    width: 100%;
    max-width: 1000px;
    height: 4px;
    background-color: var(--unnamed-color-99131a);
    margin: 40px auto;
    border-radius: 2px;
    margin-top: 30px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.qr-image {
    width: 300px;
    height: 300px;
    margin-bottom: 16px;
}

.qr-org {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert-message {
    background-color: var(--unnamed-color-99131a);
    color: var(--unnamed-color-eae0d1);
    padding: 8px 16px;
    border-radius: 9999px;
    margin-bottom: 8px;
    width: 100%;
    max-width: 700px;
}

.disclaimer {
    font-size: 0.875rem;
    color: var(--unnamed-color-323232);
    font-weight: bold;
}

.container-dddonation {
    width: 100%;
    max-width: 1024px;
}


.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.flex-row {
    flex-direction: row;
    gap: 24px;
}

.card {
    padding: 32px;
    border-radius: 16px;
    margin-bottom: 24px;
    flex: 1;
    text-align: center;
}

.card-red {
    background: linear-gradient(to bottom, #d64a1b, #a32d0e);
    color: var(--unnamed-color-ffffff);
}

.card-border {
    border: 2px solid var(--unnamed-color-99131a);
    color: #d64a1b;
}

.button-sep {
    margin-top: 20px;
}

.card-red button, .card-border button {
    background-color: var(--unnamed-color-eae0d1);
    color: var(--unnamed-color-99131a);
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
}

.text-center {
    color: var(--unnamed-color-323232);
    font-weight: normal;
}

.card-border button {
    background-color: #d64a1b;
    color: var(--unnamed-color-ffffff);
}

.card-red h2, .card-border h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;

}

.color-desq {
    color: var(--unnamed-color-99131a);
}

.card-red p {
    color: var(--unnamed-color-ffffff);
}

.card-red p, .card-border p {
    margin-bottom: 16px;
}

.card-border .card-inner {
    background: linear-gradient(to bottom, #d64a1b, #a32d0e);
    color: var(--unnamed-color-eae0d1);
    padding: 16px;
    border-radius: 9999px;
}

.card-border .card-inner p {

    text-align: center;
    color: var(--unnamed-color-ffffff);
    line-height: 0.5
}

.donation-container-org {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px;
    gap: 20px;

}

.creative-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.creative-container {
    position: relative;
    width: 1000px;
    max-width: 100%;
    border: 3px solid var(--unnamed-color-99131a);
    border-radius: 20px;
    padding: 140px 80px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creative-image {
    position: absolute;
    top: -110px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
}

.creative-image img {
    width: 200px;
}

.creative-title {
    font-size: 42px;
    font-weight: bold;
    color: var(--unnamed-color-99131a);
    margin-bottom: 25px;
}

.creative-text {
    font-size: 18px;
    color: var();
    margin-bottom: 25px;
}

.creative-button {
    display: inline-block;
    background: transparent linear-gradient(90deg, var(--unnamed-color-99131a) 0%, var(--unnamed-color-bf4b26) 100%) 0% 0% no-repeat padding-box;
    ;
    color: white;
    padding: 18px 36px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.footer-container {
    max-width: 600px;
    padding-top: 40px;
    margin: 40px auto 0;
    text-align: center;
    padding: 40px 20px;
    border-radius: 10px;
}

.footer-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--unnamed-color-99131a);
    margin-bottom: 16px;
}

.footer-text {
    font-size: 1rem;
    color: #4a4a4a;
    margin-bottom: 24px;
    font-weight: normal;
}

.footer-contact-info p {
    font-size: 1.2rem;
    color: var(--unnamed-color-99131a);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 8px;
}

.footer-contact-info img {
    width: 24px;
    height: 24px;
}

.footer-initiative p {
    font-size: 1rem;
    color: var(--unnamed-color-323232);
    margin-bottom: 8px;
}

.footer-initiative img {
    max-width: 150px;
}

.footer-partners {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.footer-partners img {
    height: 50px;
    max-width: 120px;
}